@model SalesWebMvc.Models.ViewModels.VendedorFormViewModel;
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Vendedores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Vendedores.Id" />
            <div class="form-group">
                <label asp-for="Vendedores.Nome" class="control-label"></label>
                <input asp-for="Vendedores.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedores.Email" class="control-label"></label>
                <input asp-for="Vendedores.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedores.DataNascimento" class="control-label"></label>
                <input asp-for="Vendedores.DataNascimento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedores.SalarioBase" class="control-label"></label>
                <input asp-for="Vendedores.SalarioBase" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedores.DepartmentId" class="control-label"></label>
                <select asp-for="Vendedores.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


